.header::before {
    content: "+ ";
}
.header.active::before {
    content: "- ";
}

.collapsible {
    display: none;
    overflow: hidden;
    padding-left: 15px;
}
.collapsible.active {
    display: block;
}

#dragtree {
}

.header {
    margin-left: 15px;
    display: block;
}
#toolbar {
    
}
#toolbar > div {
    cursor: move;
    position: relative;
}
.title {
    font-weight: bold;
}

#mapmap {
    width: 400px;
    height: 400px;
}